.navbar li {
    list-style: none;
}

.navbar li a {
    color: white;
    text-decoration: none;
    font-size: 25px;
}
.navbarContainer {
    border: 2px solid #fff;
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 250px;
    height: 100vh;
    position: fixed;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 25px;
    margin-left: 15px;
    padding: 20px;
    width: 250px;
    height: 100vh;
    gap: 40px;
    border: 2px solid #fff;
}
