.dashboardContainer {
  height: 100vh;
  overflow: scroll;
}

.dashboardContent {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  background-color: #282828;
}

.pieChart {
  background-color: #1c1c1c;
  color: white;
  border: 1px solid #444444;
  border-radius: 12px;
  padding: 0.5rem;
  padding-top: 1rem;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
  transition: transform 0.2s;
  width: 670px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.barChart {
    background-color: #1c1c1c;
    color: white;
    border: 1px solid #444;
    border-radius: 12px;
    padding: 0.5rem;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
    transition: transform 0.2s;
    width: 670px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

.barContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.reports {
  height: 900px;
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.title {
  color: #ffffff;
  font-size: 50px;
  text-align: center;
}

.cardGrid {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-right: 50px;
  gap: 1rem;
  padding: 2rem;
  width: 700px;
  height: 900px;
}

.userCard {
  display: flex;
  width: 650px;
  height: 60px;
  background-color: #1c1c1c;
  color: white;
  border: 1px solid #444;
  border-radius: 12px;
  padding: 0.5rem;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
  transition: transform 0.2s;
}

.ticketCard:hover {
  transform: scale(1.02);
}

.userCard {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.link {
  color: #4BDFE3;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.item, .itemTitle, .itemTitleLink {
  display: flex;
  width: 450px;
  align-items: center;
  justify-content: center;
}

.itemTitle {
  width: 700px;
}


.itemTitleLink {
width: 800px;
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
text-align: center;
word-break: break-word;
}

.headerCard {
  display: flex;
  background-color: #4BDFE3;
  color: #282828;
  font-size: 20px;
  font-weight: bold;
  height: 55px;
  width: 650px;
  border-radius: 12px;
  padding: 0.5rem;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);

}

.userCardContainer {
  width: 660px;
  overflow: scroll;
}